name: Reusable build workflow

on:
  workflow_call:
    outputs:
      version:
        description: "Project version string"
        value: ${{ jobs.build.outputs.version }}

jobs:
  build:
    name: Build jar
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version_info.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v6
      - name: Extract versions from catalog
        id: catalog_info
        run: |
          echo "JAVA_VERSION=$(sed -n 's/^javaLauncher = "\(.*\)"/\1/p' gradle/libs.versions.toml)" >> $GITHUB_OUTPUT
          echo "VERSION=$(sed -n 's/^libphonenumber = "\(.*\)"/\1/p' gradle/libs.versions.toml)" >> $GITHUB_OUTPUT
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ steps.catalog_info.outputs.JAVA_VERSION }}
          distribution: 'zulu'
          architecture: 'x64'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build project
        run: ./gradlew build
      - name: Set version output
        id: version_info
        run: echo "VERSION=${{ steps.catalog_info.outputs.VERSION }}" >> $GITHUB_OUTPUT
      - name: Upload built binary
        uses: actions/upload-artifact@v6
        with:
          name: out_jar
          path: build/dist/*.jar